.projects {
    padding: 40px;
    background-color: #e9ecef;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.projects h2 {
    margin-bottom: 20px;
}